@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  body {
    @apply font-[Prompt]
  }

  li {
    @apply px-4
  }
}


.bg-hero-gradient {
  background: rgb(51,49,49);
background: linear-gradient(180deg, rgba(51,49,49,1) 0%, rgba(41,40,40,1) 29%, rgba(31,26,26,1) 71%);

}

.blur-backdrop-filter {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}


.hvr-shadow:hover {
  box-shadow: 0px 8px 4px -3px #FF0000;
  transition: ease-out 400ms;
}

.radials-bg {
  background:   radial-gradient(100% 119.73% at 0% 0%, #440606 12.28%, #000000 41.16%, rgba(64, 6, 6, 0.96) 100%)
}